table {
 border-radius: 8px;
}

table {
  background: var(--color);
  border: 2px solid rgb(129, 129, 129);
}

table tr:nth-child(odd) {
	background: #93939314;
}

.negative-balance {
color: red;
}

.positive-balance {
color: green;
}